__pycache__
*.pyc
*.pyo
.git
.github
.pytest_cache
.ruff_cache
venv
.env
tests
*.md
.editorconfig
.gitattributes
.pre-commit-config.yaml
.dockerignore
Dockerfile
docker-compose.yml
test_*.py
test_*.txt
