fastapi
scikit-learn
pandas
numpy
matplotlib
pydantic-settings
python-dotenv
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pgvector
fastapi
uvicorn[standard] 
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings